    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Welcome To DYS</h2>
              <br/>
                <p>DYS will be a First-Person Multiplayer FPS which throws the player into a gritty Cyberpunk world, the game features dual world gameplay between the real world and the underlying data networks.</p>
                <p>The game is developed independently by a very small team in their spare time; because of this, we only post and talk about things when we're ready as to avoid disappointment. </p>
                <br/>
              </div>
        </div>
    </section>
